/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
}
body {
  line-height: 1;
  overflow-x: hidden;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: linear-gradient(
    to right,
    rgba(135, 206, 250, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
/* ------------------------------ */

.car {
  position: absolute;
  bottom: 265px;
  left: 0;
  animation: carMove 15s 1 linear;
  width: 100%;
  transform: translateX(-100%) scale(0.7);
}
@keyframes carMove {
  0% {
    transform: scale(0.7) translateX(-30%);
  }
  100% {
    transform: scale(0.7) translateX(100%);
  }
}

.car__inner {
  position: relative;
  width: 700px;
  height: 200px;
}

.car__body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 21% 53% 11% 6% / 15% 91% 7% 58%;
  overflow: hidden;
}

.car__body::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 15px;
  border-radius: 40%;
  background-color: #530000;
  top: 35px;
  left: -7px;
  transform: rotateZ(-3deg);
}

.car__body::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #e5ff0048;
  right: 1px;
  bottom: 30px;
  border: 1px solid #000;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
}

.car__inner::before {
  content: '';
  width: 30px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  border-radius: 37% 62% 11% 21% / 15% 100% 7% 58%;
  top: -3px;
  left: 50px;
  transform: rotateZ(-6deg);
}

.car__inner::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  background-color: #ffa500;
  border: 1px solid #000;
  right: 30px;
  bottom: 30px;
}

.car__window-front {
  width: 200px;
  height: 50px;
  background-color: #000;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  position: absolute;
  right: 100px;
  top: 10px;
  transform: rotateZ(4deg);
}

.car__window {
  width: 400px;
  height: 60px;
  background-color: #000;
  position: absolute;
  top: 5px;
  left: 30px;
  border-radius: 39% 51% 40% 15% / 33% 100% 0% 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.car__window::before,
.car__window::after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
}

.car__window::before {
  left: 100px;
}

.car__window::after {
  right: 100px;
}

.car__door-front {
  position: absolute;
  width: 152px;
  height: 90%;
  border-right: 2px solid #000;
  right: 220px;
  bottom: 0px;
}

.car__door-front::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000;
  left: 10px;
  bottom: 100px;
  border-radius: 2px;
}

.car__door-front::after {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 27% 100% 56% 15% / 19% 88% 23% 100%;
}

.car__door {
  height: 100%;
  width: 200px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 0;
  left: 130px;
  z-index: 1;
}

.car__door::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000;
  right: 10px;
  bottom: 100px;
  border-radius: 2px;
}

.car__door::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #000;
  bottom: 49%;
  left: -100px;
  border-radius: 10px 0px 0px 10px;
}

.car__wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: -30px;
  z-index: 3;
  animation: wheelSpinning 3s infinite linear 0s;
}

@keyframes wheelSpinning {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  100% {
    transform: translateY(-5px) rotate(360deg);
  }
}

.car__wheel::before {
  content: '';
  width: 80px;
  height: 80px;
  background-color: #c0c0c0;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.car__wheel::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.car__wheel--front {
  right: 100px;
}

.car__wheel--back {
  left: 100px;
}

.car__illusion {
  width: 10px;
  height: 10px;
  background-color: #ececec;
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
}
.car__illusion::after,
.car__illusion::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #ececec;
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
}

.car__illusion--first {
  top: 27%;
  left: 27%;
}
.car__illusion--first::before {
  top: 10px;
  right: 5px;
}
.car__illusion--first::after {
  bottom: 5px;
  left: 10px;
}
.car__illusion--second {
  top: 27%;
  right: 27%;
}
.car__illusion--second::before {
  top: 10px;
  left: 5px;
}
.car__illusion--second::after {
  bottom: 5px;
  right: 10px;
}
.car__illusion--third {
  right: 27%;
  bottom: 27%;
}
.car__illusion--third::before {
  bottom: 10px;
  left: 5px;
}
.car__illusion--third::after {
  top: 5px;
  right: 10px;
}
.car__illusion--fours {
  bottom: 27%;
  left: 27%;
}
.car__illusion--fours::before {
  bottom: 10px;
  right: 5px;
}
.car__illusion--fours::after {
  top: 5px;
  left: 10px;
}

.road {
  width: 100%;
  height: 500px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(80deg);
  border: 10px solid #fff;
}

.road__line {
  width: 100%;
  height: 10px;
  background-color: #fff;
  border: 15px dashed #333;
}

.telephone {
  max-width: 150px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  bottom: 265px;
  left: 30%;
  transform: rotateZ(-10deg);
  z-index: -2;
  animation: telephone 3s 1 linear;
}
@keyframes telephone {
  0% {
    transform: rotateZ(-10deg) translateY(-500%);
  }
  25% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: translateY(0%);
  }
}

.big-ben {
  position: absolute;
  bottom: 290px;
  left: 25%;
  z-index: -3;
  animation: big-ben 5s 1 ease-in;
}
@keyframes big-ben {
  0% {
    bottom: -1000px;
  }
  85% {
    bottom: 400px;
  }
  100% {
    bottom: 290px;
  }
}

.sun {
  background-color: #ffff00;
  width: 150px;
  height: 150px;
  transform: translate(150%, 130%);
  display: inline-block;
  position: relative;
  animation: sun 5s infinite linear;
  box-shadow: 10px 10px 20px #ffff00, -10px -10px 20px #ffff00,
    inset 10px 10px 20px #ffff00, inset -10px -10px 20px #ffff00;
  text-shadow: 10px 10px 20px #ffff00, -10px -10px 20px #ffff00;
}
.sun::after,
.sun::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffd900;
  position: absolute;
  transform: rotateZ(45deg);
  top: 0;
  left: 0;
  box-shadow: 10px 10px 20px #ffff00, -10px -10px 20px #ffff00,
    inset 10px 10px 20px #ffff00, inset -10px -10px 20px #ffff00;
}
.sun::after {
  background-color: rgb(231, 235, 12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #ff0000;
}
@keyframes sun {
  0%,
  100% {
    transform: translate(150%, 130%);
  }

  50% {
    transform: translate(150%, 130%) rotateZ(360deg) scale(1.2);
  }
}

.bus {
  width: 800px;
  height: 400px;
  background-color: #ff0000;
  border-radius: 15% 12% 6% 5% / 42% 21% 10% 10%;
  position: absolute;
  right: 10px;
  bottom: 250px;
  animation: bus 40s 1 linear;
}
@keyframes bus {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.bus__wheel {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url('../img/flag.jpg') center center / cover no-repeat;
  position: absolute;
  bottom: -30px;
  z-index: 3;
  border: 3px solid #000;
  animation: busWheelSpinning 3s infinite linear 0s;
}
.bus__wheel::before {
  content: '';
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 3px solid #000;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
}
.bus__wheel::after {
  content: '';
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.bus__wheel--front {
  left: 200px;
}
.bus__wheel--rear {
  right: 100px;
}

@keyframes busWheelSpinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.bus__door {
  width: 100px;
  height: 180px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0 0;
}
.bus__door::before {
  content: '';
  width: 90%;
  height: 92%;
  background-color: rgb(135, 206, 250);
  position: absolute;
  border-radius: 10px 10px 0 0;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.bus__door::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
.bus__door--front {
  left: 90px;
}
.bus__door--rear {
  right: 230px;
}

.bus__top-window {
  background-color: lightskyblue;
  width: 700px;
  height: 100px;
  border: 5px solid #000;
  border-radius: 11% 11% 6% 5% / 67% 100% 47% 26%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.bus__top-window::before,
.bus__top-window::after {
  content: '';
  width: 5px;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
}
.bus__top-window::before {
  left: 30%;
}
.bus__top-window::after {
  right: 30%;
}

.bus__window {
  position: absolute;
  height: 100px;
  background-color: lightskyblue;
  bottom: 100px;
  border-radius: 10px;
  border: 5px solid #000;
}
.bus__window--middle {
  width: 250px;
  left: 205px;
}
.bus__window--rear {
  width: 200px;
  right: 15px;
}
.bus__flag {
  max-width: 50px;
  width: 100%;
  height: 30px;
  object-fit: cover;
  position: absolute;
  top: 155px;
  border: 1px solid #000;
  border-radius: 8px;
  z-index: 1;
}
.bus__flag--front {
  left: 100px;
}
.bus__flag--rear {
  right: 100px;
}

.bus__line {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 160px;
  font-size: 50px;
  color: #00007a;
  font-weight: 700;
}

.bus__window-front {
  background-color: lightskyblue;
  width: 40px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  left: 0;
  border-radius: 0% 100% 100% 0% / 67% 86% 32% 26%;
  border: 3px solid #000;
  border-left: none;
}

.bus__headlight {
  width: 30px;
  height: 30px;
  background-color: #ffff78;
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
  position: absolute;
  bottom: 12px;
  left: 0px;
  transform: rotateZ(-10deg);
  border: 2px solid #000;
  border-left: none;
  box-shadow: 10px 10px 20px #ffff00, -10px -10px 20px #ffff00,
    inset 10px 10px 20px #ffff00, inset -10px -10px 20px #ffff00;
}

.bus__rearlight {
  width: 20px;
  height: 20px;
  background-color: #660000;
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
  position: absolute;
  bottom: 12px;
  right: 0px;
  transform: rotateZ(180deg);
  border: 2px solid #000;
  border-left: none;
  box-shadow: 10px 10px 20px red, -10px -10px 20px red, inset 10px 10px 20px red,
    inset -10px -10px 20px red;
}

.moon {
  position: absolute;
  right: 100px;
  top: 50px;
  width: 150px;
  animation: moon 4s infinite linear;
  transform-origin: 50% 70%;
}
@keyframes moon {
  0% {
    transform: rotateZ(-360deg);
  }
}

.fog {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: fog 30s infinite linear;
}
@keyframes fog {
  0% {
    transform: translateY(100%) scale(0.3);
  }
  50% {
    transform: translateY(0%) scale(1);
  }
  100% {
    transform: translateY(100%) scale(2);
  }
}

.stars {
  position: absolute;
  right: 200px;
  top: 100px;
  width: 100px;
  z-index: -1;
  animation: stars 3s infinite ease;
}
@keyframes stars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.comet {
  width: 150px;
  position: absolute;
  right: 30%;
  top: -12%;
  animation: comet 0.4s 1 linear 5s forwards;
}
@keyframes comet {
  0% {
    right: 30%;
    top: -12%;
  }
  100% {
    right: -150px;
    top: 40%;
  }
}

.cloud-1 {
  width: 300px;
  position: absolute;
  top: 200px;
  left: 20px;
  animation: cloud-1 4s 1 linear;
}
@keyframes cloud-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.queen {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotateZ(20deg) translateY(110%);
  animation: queen 5s infinite linear;
}
@keyframes queen {
  0% {
    transform: rotateZ(20deg) translateY(110%);
  }
  50% {
    transform: rotateZ(20deg) translateY(10%);
  }
  100% {
    transform: rotateZ(20deg) translateY(110%);
  }
}

.jason {
  height: 500px;
  position: absolute;
  top: -20px;
  left: 40%;
  transform: rotateZ(180deg);
  animation: jason 4s 1 linear;
}
@keyframes jason {
  0% {
    transform: rotateZ(180deg) translateY(100%);
  }
  100% {
    transform: rotateZ(180deg) translateY(0);
  }
}

.arthur {
  height: 700px;
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: 4;
  animation: arthur 3s 1 linear forwards 4s;
  transform: translateY(100%);
}
@keyframes arthur {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.told {
  position: absolute;
  top: 150px;
  right: 300px;
  animation: told 1s 1 linear forwards 7s;
  transform: scale(0);
}
@keyframes told {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.told__img {
  width: 500px;
}
.told::before {
  content: 'Обучийся, развивайся и помни - живи, а работай в свободное время!';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.thomas {
  position: absolute;
  bottom: 0;
  right: 500px;
  transform: translateY(100%);
  animation: thomas 1s 1 linear forwards 9s;
}
@keyframes thomas {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
